body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #104541;
}

/* Estilos barra menú */
.barraNav{
    background: linear-gradient(to right, #47ad79, #092422);
    padding: 0 40px;
}

.menu{
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    max-width: 1800px;   /* ancho máximo */
}

.menu .derecha {
    margin-left: auto;
}

.menu li a{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
} 

.menu li a:hover{
    background-color: blueviolet;
}

.logo {
    display: inline-block;
    align-items: center;
    padding: 20px;
}

.logo img {
    vertical-align: middle;
}

/* CONTENEDOR DEL PERFIL */
.menuSesion {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

/* IMAGEN PERFIL */
.fotoPerfil {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
    display: block;
}

/* DROPDOWN */
.dropdown {
    position: absolute !important;
    top: 100%;
    right: 0;
    margin-top: 8px;

    background: white;
    min-width: 170px;
    list-style: none;
    padding: 8px 0;
    border-radius: 8px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);

    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.2s ease;

    z-index: 1000;
}

.dropdown.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.menu > li {
    position: relative;
}

.dropdown li a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #333;
}

.dropdown li a:hover {
    background-color: #f2f2f2;
}

.titulo{
    border-top: 0;
}

.animarScroll {
    opacity: 0;
    transform: translateX(-100px);
    transition: all 0.8s ease;
}

.animarScroll.visible {
    opacity: 1;
    transform: translateX(0);
}